.app {
  // если раскоментировать, в chromium появляется прокрутка снизу
  // width: 100vw;
  min-height: 100vh;

  padding: 32px;
  background-color: $app-background;

  &__wrapper {
    position: relative;

    display: grid;
    grid-template-columns: 332px 1fr;
    gap: 16px;
  }
}
