.product {
  margin-top: 16px;

  display: grid;
  grid-template-columns: repeat(3, 332px);
  grid-auto-rows: minmax(423px, auto);
  gap: 16px;
  justify-self: start;

  &__item {
    width: 332px;
    min-height: 423px;

    background-color: $main-background;

    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
      0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;

    cursor: pointer;
    position: relative;

    &:hover {
      &::after {
        content: url("@/assets/icons/delete.svg");
        padding: 8px 8px 5px 8px;

        position: absolute;
        top: -8px;
        right: -8px;

        background: #ff8484;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }
    }
  }

  &__img {
    width: 332px;
    height: 200px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 16px 16px 24px 16px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: $main-color-text;
  }

  &__description {
    padding-top: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    color: $main-color-text;
  }

  &__price {
    padding-top: 25px;

    display: block;

    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

    color: $main-color-text;
  }
}
