@media (max-width: 1440px) {
  .product {
    grid-template-columns: repeat(2, 332px);
    justify-self: center;
  }
}

@media (max-width: 1100px) {
  .product {
    grid-template-columns: repeat(3, 332px);
    justify-self: center;
  }
}

@media (max-width: 1060px) {
  .product {
    grid-template-columns: repeat(2, 332px);
  }
}

@media (max-width: 720px) {
  .product {
    grid-template-columns: 1fr;
  }
}
