// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.disabled {
  background: #eeeeee;
  color: #b4b4b4;
  cursor: not-allowed;
}

.error-input {
  border: 1px solid #ff8484;
}

.error-text {
  margin-top: 4px;
  display: block;

  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  letter-spacing: -0.02em;
  color: #ff8484;
}
