@import "@/styles/base/vatiables";
@import "@/styles/base/mixins";

// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  max-width: 1376px;
  margin: 0 auto;
}

// App
@import "@/styles/blocks/app/app";

// AppHeader
@import "@/styles/blocks/app_header/app_header";

// AppForm
@import "@/styles/blocks/app_form/app_form";

// AppProduct
@import "@/styles/blocks/app_product/app_product";

// Media

// App
@import "@/styles/blocks/app/app-media";

// AppHeader
@import "@/styles/blocks/app_header/app_header-media";

// AppForm
@import "@/styles/blocks/app_form/app_form-media";

// AppProduct
@import "@/styles/blocks/app_product/app_product-media";

.disabled {
  background: #eeeeee;
  color: #b4b4b4;
  cursor: not-allowed;
}
