@import "@/styles/base/vatiables";
@import "@/styles/base/mixins";

// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

// App
@import "@/styles/blocks/app/app";
