@media (max-width: 1100px) {
  .button-form {
    width: 50px;
    height: 50px;

    position: fixed;
    bottom: 35px;
    right: 35px;

    background-color: #ff8484;
    border-radius: 100%;
    border: none;

    .plus {
      display: inline-block;
      width: 50px;
      height: 50px;

      background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
        #ff8484;
      background-position: center;
      background-size: 50% 3px, 3px 50%;
      background-repeat: no-repeat;
      border-radius: 100%;
      cursor: pointer;
    }
  }
}
